pin-depends: [
  ["ppx_minidebug.dev" "git+https://github.com/lukstafi/ppx_minidebug.git#main"]
  ["notty-community.dev" "git+https://github.com/lukstafi/notty-community.git#master"]
  ["cudajit.dev" "git+https://github.com/lukstafi/ocaml-cudajit.git#main"]
  ["hipjit.dev" "git+https://github.com/lukstafi/ocaml-hipjit.git#main"]
]