pin-depends: [
  ["ppx_minidebug.dev" "git+https://github.com/lukstafi/ppx_minidebug.git#974dd46169151dbd483e3c1a47bf5ab590b91966"]
  ["notty-community.dev" "git+https://github.com/lukstafi/notty-community.git#708e36ba78ecb4ec1bf12de2b087e549d6e42893"]
  ["cudajit.dev" "git+https://github.com/lukstafi/ocaml-cudajit.git#fb2b55284d90c682d771bd0fdd578ef77f229541"]
  ["hipjit.dev" "git+https://github.com/lukstafi/ocaml-hipjit.git#6ddb7bab60a0aabc2f63a4061e714332027fd94a"]
]