pin-depends: [
  ["ppx_minidebug.dev" "git+https://github.com/lukstafi/ppx_minidebug.git#974dd46169151dbd483e3c1a47bf5ab590b91966"]
  ["notty-community.dev" "git+https://github.com/lukstafi/notty-community.git#708e36ba78ecb4ec1bf12de2b087e549d6e42893"]
  ["dataprep.dev" "git+https://github.com/lukstafi/ocaml-dataprep.git#6bfcbc5a97f254c7eec374f652d6a8fda1289ed8"]
]